 
<main class="container align-items-center">


  <div class=" text-center text-dark rounded bg-info">
    
    
 <img src="{{ asset('assets/img/monimage3.jpg') }}" 
style="width:200px; height:auto" class="pull-right ml-2" >
    <div class="text-center " >
      <h1 class="display-4 fst-italic">Travailler sa Paix intérieure et se Dépasser</h1>
      <p class="lead mb-0">Comment garder son calme et se dépasser, grâce à la médiation et à l'Auto-Hypnose.</p>
      <p class="lead mb-0"><a href="#" class="text-dark fw-bold">Continue de lire...</a></p>
    
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Santé</strong>
          <img src="{{ asset('assets/img/monimage.jpg') }}" alt="Image">
          <h3 class="mb-0">Qi Qong reconnu par l'OMS</h3>
          <div class="mb-1 text-muted">Mars 03</div>
          <p class="card-text mb-auto">La médecine chinoise excellente pour la Santé enfin reconnue dans le monde entier.</p>
          <a href="#" class="stretched-link">Continue de lire</a>
        </div>
        <div class="col-auto mx-auto display:block">
         <img src="{{ asset('assets/img/qiqong.png') }}" alt="Image">
         </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static w-25">
          <strong class="d-inline-block mb-2 text-primary">Auto-Hypnose</strong>
          <img src="{{ asset('assets/img/monimage2.jpg') }}" alt="Image">
          <h3 class="mb-0">L’autohypnose est l’hypnose appliquée à soi-même</h3>
          <div class="mb-1 text-muted">Mars 22</div>
          <p class="mb-auto">C’est une technique de plus en plus prisée pour gérer certaines situations de stress ou de douleur par exemple.</p>
          <a href="#" class="stretched-link">Continuer à lire...</a>
        </div>
        <div class="col-auto d-none d-lg-block">
        <img src="{{ asset('assets/img/autoh.jpg') }}" alt="Image">
        </div>
      </div>
    </div>
  </div>

  <div class="row g-5 ">
    <div class="col-md-8">
      <hr>
     <h2>Citations du jour</h2>
        <p>Pour détruire quelque chose, conduisez le à son extrême.
        Pour préserver quelque chose, maintenez le en son milieu.</p>
        <blockquote class="blockquote">
          <p>Le Bonheur naît dans le malheur.</p>
        </blockquote>
          <hr>
          
     

      <article class="blog-post">
       <h3 class="pb-4 mb-4 fst-italic border-bottom">
        Arts Martiaux Externes ou Internes ?      </h3>
        <h2 class="blog-post-title">Arts Martiaux Internes</h2>
        <p class="blog-post-meta">March 20, 2022 by <a href="#">FKC</a></p>

        <p>Arts martiaux Externes ou Internes, y a t'il une différence, est ce nouveau? Toutes les questions que vous vous poseez, c'est par ici..</p>
      
        <p>Les arts martiaux externes (ou formes externes) sont qualifiés de pratiques « dures », c'est-à-dire au mode physique agressif. On les oppose aux dites formes internes qui préconisent d'éviter l'opposition frontale et insistent sur la supériorité de la souplesse.</p>
        <p>Que nous soyons novices en arts martiaux, ou pratiquants expérimentés nous avons déjà tous entendu parler de deux termes bien distincts. Les arts martiaux internes et externes. Pourtant, peu de personnes connaissent vraiment la différence entre les deux concepts. Car, oui, ce sont des concepts et des manières d’appréhender une pratique martiale, plus qu’un style pur.
Les arts internes se focalisent sur la respiration, les sensations et les émotions. Tandis que les arts externes sont orientés sur la condition physique et le combat.
Bien souvent, les pratiquants d’arts martiaux externes, comme le karaté, le judo, ou un sport de combat comme la boxe ne voient que peu d’intérêt à la pratique d’arts martiaux internes. De même pour les adeptes des arts souples, la plupart ne souhaitent pas se confronter à la « brutalité » des sports de contact et de combat.</p>
        <h3>Que veut dire exactement arts martiaux internes ?</h3>
        <p>Les arts martiaux internes regroupent donc des styles asiatiques.  Mais qu’entendons-nous par interne ? Cela signifie que nous allons nous focaliser non pas sur le combat, mais sur des aspects comme le mental, la circulation d’énergie, et la philosophie.</p>
        <ul>
          <li>Le mental</li>
          <li>Le QI ou CHI</li>
          <li>La philosophie</li>
        </ul>
        <p>Et voici les definitions:</p>
        <dl>
          <dt>Le mental</dt>
          <dd>Premièrement, nous avons le travail mental qui porte un rôle très important. Le contrôle et la gestion des émotions fait partie de la pratique et l’apprentissage des arts martiaux internes. À travers notre pratique, nous devons constamment rechercher le calme intérieur, travailler sa paix intérieur.La Méditation et arts martiaux ne font donc qu’un </dd>
          <dt>Le travail de l'energie</dt>
          <dd>Deuxièmement, la circulation de l’énergie dite vitale est un concept très recherché dans les arts martiaux internes. Le chi, ou qi, selon la philosophie chinoise et japonaise est un flux d’énergie parcourant le corps. On retrouve ce concept dans de nombreuses cultures et pratiques asiatiques. Ce flux énergétique serait très important pour la santé et le bien-être physique, comme mental. Une bonne circulation du chi permettrai aussi de d’améliorer sa puissance, son équilibre, et sa stabilité.</dd>
          <dt>La philosophie</dt>
          <dd>Troisièmement, la philosophie est un aspect primordial dans la pratique des arts martiaux internes. Comme dans l’aïkido, le tai chi ou de nombreux arts internes, on recherche en priorité l’utilisation minimale de force. La philosophie de base est d’acquérir une stabilité émotionnelle pour neutraliser une attaque en mobilisant le moins de force possible. Un concept qui peut aussi être appliqué dans les sports de combat.La philosophie chinoise rassemble divers courants de pensée essentiellement issus de trois traditions : le confucianisme, le taoïsme et le bouddhisme.</dd>
        </dl>
        <h2>Les arts martiaux internes les plus répandus</h2>
        <p>Les arts martiaux chinois sont les disciplines les plus répandues pour la pratique interne. Le développement du chi ou qi, ainsi que la philosophie de l’affrontement a été grandement développé en chine. En grande partie parce qu’un très grand nombre d’arts martiaux sont nées en Chine et sont des dérivés du kung fu et du kenpo.</a>.</p>
        <ul>
         <p>Voici les arts internes les plus répandus en Chine :</p>
          <li><strong>Bagua Zhang</strong>:art martial issu du nord de la Chine. Le Bagua accentue son travail sur le principe des rotations, pivots, et désaxements..</li>
          <li><strong>Taiji Quan ou tai chi</strong>:art martial très populaire comportant de nombreux styles. La base du tai chi est l’utilisation d’une force fluide et souple en opposition à une force brutale et saccadée.</li>
          <li><strong>Xing Yi Quan</strong>:art martial réputé pour être plus explosif que les autres. Il y a de nombreux styles existants, mais tous ont une base de travail sur la puissance est l’explosivité.</li>
          <li><strong>Baji Quan</strong>un art explosif basé sur une distance de combat très courte. Les coudes sont donc principalement mis en avant dans cette forme de travail.</li>
       </ul>
       <p>Dans les arts martiaux japonais, nous avons principalement l’aïkido qui place une grande importance sur le travail interne.</p>
        <hr>
        <h2>Les sports de combat / arts martiaux externes</h2>
        <p>Certains sont des arts martiaux, d’autres des sports de combat. À savoir que les arts martiaux comportent une plus grande part de philosophie et de développement personnel que les sports de combat qui sont davantage tournés sur l’affrontement</p>
        <hr>
        <h3>Arts martiaux externes les plus répandus</h3>
        <li><strong>Kung fu</strong>: Art martial chinois très ancien. Le kung fu comporte u
        ne grande part de philosophie relative aux arts internes.</li>
        <li><strong>Karate</strong>: Art martial japonais, créé par Gishin Funakoshi.</li>
        <li><strong>Taekwondo</strong>: Art martial originaire de Corée du Sud qui peut se traduire par: "La voie du pied et du poing".</li>
        <li><strong>Việt Võ Đạo</strong>:Art martial Vietnamien.</li>
        <li><strong>Le Pencak-Silat</strong>: Le Pencak-Silat est un terme générique par lequel on désigne différents arts martiaux originaires de l'archipel indonésien.</li>
        <li><strong>kenpō</strong>: Il y a de nombreux styles de kenpō, les plus répandus sont les kenpō japonais, les kenpō okinawaïens et le kenpō américain, lui-même issu en grande partie du kenpō hawaïen.</li>
      </article>
      <hr>
      <article class="blog-post">
        <h2 class="blog-post-title">Arts martiaux mixtes</h2>
        <p class="blog-post-meta">March 23, 2022 by <a href="#">FKC</a></p>

        <p>Les arts martiaux mixtes, souvent désignés par le sigle anglais <strong>MMA</strong> (mixed martial arts), et anciennement appelés combat libre ou free-fight, sont un sport de combat complet, associant <strong>pugilat et lutte au corps à corps</strong>. Les deux combattants peuvent utiliser de nombreuses techniques ; selon les fédérations, sont autorisées les techniques de percussion telles que coups de pied, de poing, de genou et de coude, mais aussi les techniques de corps à corps debout (clinch), de projections et de soumission (grappling) et quelquefois des techniques particulières de percussion au sol.

Ce sport est considéré comme récent2, et plus efficace qu'artistique. Les arts martiaux mixtes existent en réalité depuis fort longtemps (à travers la lutte et le pugilat). On en retrouve des traces dans les applications de combat de nombreux arts martiaux anciens. Néanmoins, ce sport est interdit en compétition dans certains pays.</p>
        <blockquote>
          <p>En effet, ses détracteurs soulignent la violence des coups qui peuvent être portés avec peu de contrôle lorsqu'un combattant se situe au sol. Ses partisans admettent cette violence grâce à la diversité des zones de frappes possibles et la possibilité d'aller au sol.</p>
        </blockquote>
       <hr>
        <h3>Kosho-Ryu Kenpo</h3>
        <p><strong>L'école du vieux Pin</strong></p>
        <div class="text-right">
        <img src="{{ asset('assets/img/kenpo.png') }}" alt="Image">
         </div>
            <tr>
              <th> L'art familial qui avait été l'art du Chuan Fa (chinois), du Kenpo, ou du Kempo (japonais) que les Maîtres Mitose avaient modifié successivement, jusqu'à ce qu'il devienne Kosho - Ryu (style vieux pin) Kenpo.Un système complet d'autodéfense (Kosho - Shorei) qui comprend la religion et la formation dans les arts et les sciences humaines en plus des techniques d'autodéfense proprement dites (Kosho - Ryu).</th>
             <th>'objectif principal du Kosho-Ryu Kenpo est le RESPECT et l'AMOUR. Les pratiquants de Kosho-Ryu Kenpo croient que si l'on donne du respect à un autre, ce respect sera rendu. Alternativement, les personnes qui ne démontrent pas de respect pour les autres ne respectent aucun respect.</th>
            </tr>
       </article>
         
       

        
  
      <hr>
      <article class="blog-post">
        <h2 class="blog-post-title">James MITOSE</h2>
        <p class="blog-post-meta">March 23, 2022 by <a href="#">FKC</a></p>

        <p>21ème Grand Maître de Kosho - Ryu</p>
        <ul>
          <li>" EXISTE-T-IL UNE FORME PLUS ÉLEVÉE DE VÉRITABLE AUTO-DÉFENSE QUE CELLE DE LA PAIX ET DE L'HARMONIE ? "</li>
          </ul>
        <p>Né à Hawaï, à l'âge de quatre ans, James Mitose est envoyé au Japon pour étudier l'art familial. L'art familial qui avait été l'art du Chuan Fa (chinois), du Kenpo, ou du Kempo (japonais) que les Maîtres Mitose avaient modifié successivement, jusqu'à ce qu'il devienne Kosho - Ryu (style vieux pin) Kenpo.Un système complet d'autodéfense (Kosho - Shorei) qui comprend la religion et la formation dans les arts et les sciences humaines en plus des techniques d'autodéfense proprement dites (Kosho - Ryu).
          Après quinze ans de formation, James Mitose est revenu à Hawaï, décidant de partager l'art familial avec des personnes de toutes races en ouvrant une école, qu'il a retrouvée avec les rigueurs du système. Impliquant la formation aux philosophies religieuses en plus des techniques de combat réelles, très peu d'étudiants maîtrisaient le système.Après quinze ans d'enseignement, seuls six étudiants obtiendraient le grade de Shodan (ceinture noire). Il s'agissait de Jiro Nakamura, Thomas Young, William Chow {plus tard connu sous le nom de professeur William chow de Kara Ho Kempo}, Paul Yamaguchi, Arthur Keawe et Edward Lowe. C'est en 1953 que James Mitose s'est retiré de la participation active aux arts martiaux. Les raisons ne sont pas claires même aujourd'hui. Cependant, on pense que James Mitose a vu que ses étudiants ne pouvaient pas ou ne voulaient pas vivre leur vie dans les philosophies Kosho - Ryu. D'autres rumeurs ont fait surface, mais jamais avérées. On ne sait pas exactement pourquoi Mitose a décidé d'arrêter d'enseigner.</p>
        <p>27 mars 1981, un triste jour dans l'histoire de Kosho - Ryu. L'honorable Grand Grand Maître James M. Mitose est décédé alors qu'il purgeait une peine au pénitencier d'État de Folsom. Oui, il est vrai que cet être humain humble et religieux, qui a gagné sa vie aux arts martiaux, est mort en prison. Pourquoi at-il été incarcéré ? Il est entouré de confusion et de mystère.</p>

      
      </article>

      
       

    </div>

    
</main>